*/Style Sheet */
 /*BASE STYLES*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* NOTE: Needed to use styling to fix the map not being visible on the site while keeping the page respovise.  */
.map {
position: center;
  height: 31.250em;
  width: auto;
}

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: : #F4FFE4;
}

h1 {
  font-size:250%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 1em 0;
}

h2 {
  font-size:175%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0 0 1em 0;
}

h3 {
  font-size:150%;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  margin: 0 0 1em 0;
}

p {
  font-size:120%;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2em;
  font-weight: 300;
}

p.small-txt {
  font-size: 80%;
}

table {
  font-size:120%;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a,
button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/*    HEADER*/


header {
  background-color: #333333;
  background-image: url('../img/dishes.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  color: #000000;
  text-align: center;
  min-height: 30vh;
}

.h2text{
color: #000000;
}
/* GRID SYSTEM*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_1_of_2 {
  width: 100%;
}
.span_2_of_2{
  width: 100%;
}


/* Section Details */
.aboutus {
    background: #F4FFE4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    color: #F2F2F2;
}

.menu-head {
  text-align: left;
}

.menu {
  width: 100%;
  padding: 0 1em 0 0;
}

.menu-price {
    color: #871719;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
}

footer {
    background-color: #333333;
    color: #F2F2F2;
}
/* NOTE: Had map section here, but could not get the the section to appear I a wanted to and moved it into Base Styles */


/* NOTE:  Media Queries   */

@media screen and (min-width: 980px) {
  .span_1_of_2 {
      width: 49.2%;
  }
